* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #f1f3f6;
}

p {
    margin: 0;
}

.main-container {
    padding: 15px;
    width: 100%;
}

.item-wrapper {
    padding: 15px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .4)
}

input.input-2 {
    margin-left: -10px;
    padding-left: 0;
}

.photo-checkbox label{
    padding-left: 0;
}

.filters {
    width: 80%;
    background: #fff;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .4);
    height: 100%;
    position: absolute;
    top: 0;
    left: -110%;
    transition: left 0.3s ease-in;
    z-index: 999;
}
.filters.show{
    left: 0;
}

.filter-header {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.filter-header p {
    font-size: 18px;
    font-weight: 500;
}

.filters-wrapper {
    padding: 15px;
}

.properties {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .4);
}

.property-wrapper {
    padding: 15px;
    padding-top: 60px;
}

.image-wrapper {
    width: 100%;
    min-width: 300px;
}

.image-wrapper img {
    width: 100%;
}

.section-header {
    padding: 15px;
    padding-bottom: 0;
    border-bottom: 1px solid #f0f0f0;
}

.section-header .result-header {
    font-size: 18px;
    font-weight: 500;
}

.sort-options {
    margin-top: 10px;
    margin-top: 10px;
    height: 27px;
}

.sort-options p {
    display: none;
}

.sort-options a {
    display: block;
    float: left;
    font-size: 14px;
    padding: 0 5px;
    text-decoration: none;
    color: #000;
    height: 100%;
    padding-top: 5px;
    transition: border-bottom .15s ease-in;
}

.heading {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
}

.price-tag {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    margin-left: 15px;
    margin-top: 4px;
}

.selected {
    border-bottom: 2px solid #2873f1;
}

.filter-button {
    position: fixed;
    padding: 15px;
    color: #fff;
    background: #2873f1;
    border: none;
    font-size: 8px;
    border-radius: 50%;
    box-shadow: 0 0 14px 0px #00000080;
    bottom: 20px;
    right: 20px;
}

@media screen and (min-width: 768px) {
    .filter-button {
        display: none;
    }
    .overlay {
        display: none;
    }
    .filters {
        position: fixed;
        width: 25%;
        left: 0;
        top: 15px;
        /* height: 350px; */
    }
    
    .properties {
        width: calc(75% - 10px);
        float: right;
        margin-left: 15px;
        background: #fff;
    }
    .property-wrapper {
        padding: 15px 0;
    }

    .property-wrapper.list .item-wrapper{
        width: 95%;
        height: auto;
        padding-bottom: 15px;
    }

    .property-wrapper.list .item-wrapper .text-wrapper{
        display: inline-block;
        width: 60%;
        float: right;
        margin-top: 20px;
    }

    .property-wrapper.list .item-wrapper .image-wrapper{
        max-width: 30%;
        display: inline-block;
        overflow: hidden;
    }
    .property-wrapper.list .item-wrapper .image-wrapper img{
        width: 30%;
    }
    .item-wrapper {
        height: 425px;
        width: 30%;
        float: left;
        margin-left: 15px;
        margin-bottom: 15px;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .4);
        padding: 0;
        overflow: hidden;
    }
    .image-wrapper {
        width: 100%;
        height: auto;
        padding: 15px;
        overflow: hidden;
    }
    .image-wrapper img {
        width: 100%;
    }

.sort-options p {
    display: block;
    float: left;
    margin-right: 5px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
}
.sort-options a {
    display: block;
    float: left;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
    color: #000;
    height: 100%;
    padding-top: 5px;
    transition: border-bottom .15s ease-in;
}

}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.slick-prev {
    left: 15px;
    z-index: 9;
}
.slick-next {
    right: 15px;
    z-index: 9;
}
.ResetButton{
    margin-bottom: 50px;
}

.view-buttons a,.ResetButton a {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 20px;
    padding: 13px;
    margin-right: 20px;
}

.filters-wrapper div {
    margin-top:  30px; 
}

.view-buttons a.selected,.ResetButton a.selected {
    background-color: lightblue;
}